altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
filelock
fonttools
fsspec
gitdb
GitPython
idna
importlib_resources
Jinja2
joblib
jsonschema
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
networkx
numpy
opencv-python-headless
packaging
pandas
Pillow
protobuf
pydeck
Pygments
pyparsing
python-dateutil
pytz
referencing
requests
rich
scikit-learn
scipy
seaborn
six
smmap
streamlit
sympy
tenacity
threadpoolctl
toml
torch==1.13.1
torchvision==0.14.1
tornado
tqdm
typing_extensions
tzdata
urllib3
watchdog
zipp
